@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

html {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Agbalumo;
}
a {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.5em;
  color: lightseagreen;
  &:hover {
    color: plum;
  }
}

body {
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes shake0 {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes shake1 {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 700px;
  font-size: 2em;
  margin-bottom: 10px;
  background-color: lightgoldenrodyellow;
  border-radius: 10px;
  box-shadow: 10px 5px 5px lightgray;
  h1 {
    text-align: center;
    margin-bottom: 0px;
  }
  p {
    margin: 0px;
    color: red;
    font-size: 0.5em;
  }

  input {
    margin: 10px;
    margin-top: 0px;
    width: 300px;
    height: 35px;
    font-size: 1.25em;
    border-radius: 5px;
  }
  .LoginPageButtons {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  button {
    border: none;
    background-color: lightpink;
    border-radius: 5px;
    height: 35px;
    width: 150px;
    margin: 10px;
    font-size: 1em;
    font-family: monospace;
    &:hover {
      background-color: pink;
      color: white;
      cursor: pointer;
    }
  }
}

.shake1 {
  animation: shake1 0.4s ease-in-out 0s 2;
}
.shake0 {
  animation: shake0 0.4s ease-in-out 0s 2;
}
